<html lang ="pt-BR">''
    <head>
        <title>Sistema</title>
    </head>
    <body> 
        <h1>Bem vindo ao sistema <%=nome %>!"</h1> <!-- o = faz imprimir-->
        <h4>O melhor sistema do mundo(aura farmada)</h4>
        <p>Selecione a opção desejada no menu</p>

    </body>
</html>